@{
    ViewBag.Title = "About me";
}

<h1>Motivational letter</h1>
<h2>Why You should consider me as an intern</h2>

<br/>

<p>
    I was keeping an eye for potential internship position in Your company for a long time, however since I was busy with finishing my studies, this new opportunity completely slipped past me. I hope it is not too late and I am writing this letter as soon as I’ve noticed the announcement on Your company’s webpage.
</p>
<p>
    Very long time I was looking for such an opportunity. Due to my studies and full time job, I was unable to find internship, that would fit in my schedule. Many times I was considering taking a vacation for just this reason. I would like to tie my future with programming, even though I do not possess a degree in software engineering. I am not a student anymore, I do not need an internship to finish my studies, this comes purely from my wish to develop and improve myself further.
<p>
    I have to tell You in advance that I do not have a very deep knowledge regarding C#, however I’ve taken some online courses and part of my final project in university was to make a control program for a robot, which I achieved using C#. I am also working with PowerShell quite a bit so .NET and OOP concepts are not foreign to me.
</p>
<p>
    I understand that You sift through tens if not hundreds CV’s each day, but I hope that this one will at least catch Your eye.
</p>
<br />
<h3>Why You should consider me as an intern and maybe a potential employee in the future:</h3>

<table class="table">


    <tr>
        <th>Bachelor’s degree in company management</th>
    </tr>

    <tr>
        <th>Bachelor’s degree in electrical engineering (robotics, just finished)</th>

    </tr>

    <tr>
        <th>I have good foundation in basic IT concepts.</th>
    </tr>

    <tr>
        <th>Good experience in Software Packaging and OS imaging (currently working as IT administration and operations specialist).</th>
    </tr>

    <tr>
        <th>Experience in PLC programming.</th>
    </tr>

    <tr>
        <th>I was top of the class in my last studies.</th>
    </tr>

    <tr>
        <th>Exceptionally dedicated and fast learner.</th>
    </tr>

    <tr>
        <th>Extremely motivated and self-driven.</th>
    </tr>

    <tr>
        <th>Always striving for excellence.</th>
    </tr>

    <tr>
        <th>Trying to be the best at everything I do.</th>
    </tr>
</table>
<br />
<p>
    I always put 100% effort in everything I do, and this internship would not be an exception. I am rapid learner so even if You find my experience in the field lacking, I can assure You, I would catch up in no time.
</p>
<p>
    Working, studying and learning independently are not outlandish concepts to me.
    You can find my CV in an attachment. Thank You very much for Your attention and I will eagerly await Your answer, no matter what it is.
</p>

