@{
    ViewBag.Title = "Contact";
}
<h2>Contact Information:</h2>

<address>
    S. Daukanto 3 - 74<br />
    Kaunas, Lietuva<br />
    <abbr title="Telefonas">Tel:</abbr>
    +370 626 54390
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:povilas.gribas@gmail.com">povilas.gribas@gmail.com</a><br />
</address>