@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>To show something for internship from Povilas Gribas</h1>
    <p class="lead">First time I've touched ASP.NET MVC, so this is very rough around the edges</p>
    <p><a href="~/Employee/Index" class="btn btn-primary btn-lg">Employees and their salary &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            If You want to contact me, You can find all the details in the contact page
        </p>
        <p><a class="btn btn-default" href="~/Home/Contact">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Motivational letter</h2>
        <p>More information about my qualities, and why I think I would be a perfect intern</p>
        <p><a class="btn btn-default" href="~/Home/About">Learn more &raquo;</a></p>
    </div>
</div>